<app-navbar></app-navbar>
<section class="container mt-2">
  <h4>Add Trip Details</h4>
  <div class="form-group d-flex align-items-end">
    <div class="tripDetails">
      <label for="startTrip" class="tripLabel">Start</label>
      <input
        type="text"
        [(ngModel)]="startTrip"
        name="startTrip"
        class="form-control"
        maxlength="20"
      />
    </div>
    <div class="tripDetails">
      <label for="endTrip" class="tripLabel">End</label>
      <input
        type="text"
        name="endTrip"
        class="form-control"
        maxlength="20"
        [(ngModel)]="endTrip"
      />
    </div>
    <div class="tripDetails">
      <button type="button" class="btn btn-primary me-4" (click)="addTrip()">
        Add Trip
      </button>
      <button type="button" class="btn btn-light" (click)="resetTrip()">
        Reset
      </button>
    </div>
  </div>
</section>
